.title {
  font-family: 'Carter One';
}
.container {
  margin-top: 2rem;
  text-align: center;
}

.images {
  display: grid;
  /* max-width: 75%;
  min-height: 75%; */
  /* width:  2rem; */
  height: 1rem;
  padding: 1rem;
  margin: 3% auto;
  /* flex-wrap: wrap;
  align-items: flex-start; */
}

  /* .img-fluid {
    max-width: 100% auto;
    height: 100% auto;
} */
